altair
numpy
pandas
pydeck
streamlit
kaleido==0.1.*
openpyxl
indeterminatebeam
sympy
matplotlib
sectionproperties
streamlit-option-menu
streamlit-marquee
pillow
seaborn
scikit-learn
Test1, Test2, Test3, home